.editor {
  background-color: #ffffff;
  width: 856px;
  height: 250px;
  border: 5px solid #da4352;
  border-radius: 10px;
  margin: auto;
  text-align: left;
}

.image {
  margin: 10px 10px;
  width: 100px;
  height: 100px;
  border: 2px solid #da4352;
  cursor: default;
}

img {
  width: 100px;
  height: 100px;
}

.edit {
  max-height: 125px;
  overflow: auto;
}

.editor-btn button {
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  margin: 20px 10px;
  background-color: #da4352;
  cursor: pointer;
  border: 2px solid #ffffff;
}
