p {
  background-color: #ffffff;
  width: 500px;
  max-height: 100px;
  overflow: auto;
  border: 2px solid #da4352;
  margin: auto;
  text-align: left;
}

button {
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 10px;
  background-color: #da4352;
  cursor: pointer;
  border: 2px solid #ffffff;
}
