.editor-tools {
  margin-top: 50px;
  margin-bottom: 20px;
}

.editor-tools button {
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  background-color: #da4352;
  cursor: pointer;
  border: 2px solid #ffffff;
}

.img {
  text-align: center;
  border-radius: 5px;
  padding: 0px 5px 4px;
  margin: 10px;
  background-color: #da4352;
  border: 2px solid #ffffff;
  cursor: pointer;
}

input.img {
  display: none;
}
